Body {background-color: lightgrey;}
h1, h4 {color: blue;
        background-color: powderblue;
        width: 600px;
        margin: auto;
        padding: 20px;
        border: 4px solid hotpink;
      }

p  {color: blue;
  background-color: powderblue;
  width: 600px;
  margin: auto;
  padding: 20px;
  border: 2px dashed blue;
}
