Body {background-color: lightgrey;}
* {font-family: serif;
  text-align: center;}
h1 {color: blue;
    font-size: 40px }
h2 {color: grey;
    font-size: 30px}
.Rocky {text-shadow: rgb(176, 176, 176);
        color: black}
.Mowgli {color: rgb(176, 176, 176);
        text-shadow: rgb(64,64,64)}
