@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&family=Caveat&family=Indie+Flower&family=Lobster+Two:ital@1&display=swap');

/* MENU BAR (CONTAINER) */
menu {
  margin:0;
  padding:0;
  background-color: rgb(209,71,71);
}

/*TOP-LEVEL LINKS:*/
#site-links {
  margin:0;
  padding:1em;
  display:inline-block;
}

#site-links .menu-item {
  width: 6em;
  height: 1.25em;
  padding: .5em 1.2em;
  display: inline-block;

  background-color: rgb(209,71,71);

  text-align: center;
  color: #000;
}

#site-links .menu-item:hover {
  background-color: rgb(207,81,81);

  color: rgb(43,26,26);
  text-decoration: overline underline;
  text-decoration-color: rgb(43,26,26);
  text-decoration-style: solid;
  text-shadow: 3px 3px 6px
}

#site-links a{
  text-decoration: none;
}
/* DROPDOWN*/
#site-links .dropdown {
  display:inline-block;
  width: 6em;
}

#site-links .dropdown-content {
  display: none;
  position: absolute;

  background-color: rgb(204,118,118);
  z-index:5;
}

#site-links .dropdown-content a {
  color:#000;
font-family: 'Baloo Paaji 2', cursive;}

#site-links .dropdown-content a:hover{
  color: #FFF;
  font-weight: 900;
}

#site-links .dropdown:hover .dropdown-content {
  display:block;
  box-shadow: 4px 4px 8px rgb(189,162,162);

}

#site-links .dropdown-item {
  min-width: 6em;
  padding: .3em 1em;
  display: block;

  text-align: center;
}
.dropdown-item:hover {
  background-color: rgb(146,97,97) ;
color: rgb(237,136,136);
display: block;
}
/* SOCIAL MEDIA ACCOUNTS :*/
#social-links {
  padding: .5em;
  display: inline-block;
  float: right;
 }
#social-links .social-item {
  margin: 0px 2.5px;
}
#social-links img {
  width: 22px;
  height: 22px;
  opacity: .5;
}
#social-links img:hover {
  opacity: 1;
}
