body {background-image: url('../images/');
background-repeat: repeat-x;
background-attachment:fixed;
background-color: rgb();}

.main-container {
width:40%;
  max-width:300 px;
  height:100%;
  margin: 3em auto;
  padding: 3em;
  background-color: rgb(204,159,159);
  border-left: 11px double rgb(69,51,51);
  border-right: 11px double rgb(69,51,51);
  border-bottom: 11px double rgb(69,51,51);
  border-top: 11px double rgb(69,51,51);
  opacity: 1;
}
header {margin-left: 25px;
  top:0px;
  height: auto;
  width: 500px;
  z-index: 1;}


.main {
  text-align: justify;
  margin: 3em 0;
}

.title a{text-decoration: none;}

.title a:hover {text-decoration: underline;}

.main {background-color: rgb(233,234,218);
margin-left:  250px;
margin-top: auto;
padding: 1em;
overflow:visible;}


.button {position:fixed;


}

.button:hover {

}
